In [7]:
x=2
if x<10:
    print('Smaller')
    if x>20:
        print('Bigger')
print ('finis')

Smaller
finis

In [2]:
x=1225
x=x+x

In [3]:
print(x)

2450

In [10]:
x=2
type (x)

int

In [11]:
x=10
x=3.9*x*(1-x)
print(x)

-351.0

In [12]:
2**3

8

In [13]:
15**3

3375

In [14]:
jj=23
kk= jj%5
print(kk)

3

In [15]:
x=1+2*3-4/5**6
print(x)

6.999744

In [16]:
5**6

15625

In [17]:
print(float(99)+100)

199.0

In [4]:
nam= input ('who are you?')
print('welcome', nam)

who are you?maryam
welcome maryam

In [6]:
a = input('enter floor number')
floor=int(a)+1
print(floor)

enter floor number0
1

In [12]:
hours= input('user hours?')
rate= input('rate per hour')

user hours?35
rate per hour2.75

In [13]:
hours=int(hours)
rate=float(rate)
pay=rate*hours
print(pay)

96.25